#include "savcfg.h"

IDI_APP ICON "page1.ico"





PAGE4 DIALOG 0, 1, 253, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Logging"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH , SUBLANG_ENGLISH_US
{
 CONTROL "Path to store logs:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 10, 59, 10
 CONTROL "", IDC_LOG_STORAGE_PATH, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 9, 171, 12
 CONTROL "General Log", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 34, 235, 43, WS_EX_NOPARENTNOTIFY
 CONTROL "Enabled", IDC_GENERAL_LOG_ENABLED, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 49, 44, 9
 CONTROL "Reverse DNS Look-up", IDC_GENERAL_LOG_LOOKUP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 62, 88, 13
 CONTROL "Log File:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 49, 32, 8
 CONTROL "", IDC_GENERAL_LOG_NAME, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 46, 103, 12
 CONTROL "Hit Log", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 83, 236, 58
 CONTROL "Enabled", IDC_HIT_LOG_ENABLED, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 98, 43, 9
 CONTROL "Record Connections", IDC_RECORD_CONNECTIONS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 114, 80, 9
 CONTROL "Record KB Sent", IDC_RECORD_KB_SENT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 129, 69, 9
 CONTROL "Record Files Sent", IDC_RECORD_FILES_SENT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 114, 73, 9
 CONTROL "Log File:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 95, 29, 9
 CONTROL "", IDC_REFERENCE_LOG_FILE, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 163, 104, 12
 CONTROL "Reference Log", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 151, 237, 28
 CONTROL "Enabled", IDC_REFERENCE_LOG_ENABLED, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 166, 43, 9
 CONTROL "", IDC_HIT_LOG_FILE, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 95, 103, 12
 CONTROL "Log File:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 103, 166, 30, 9
}
LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL


VERSIONINFO_1 VERSIONINFO 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Acicula Technologies\000\000"
   VALUE "FileDescription", "Savant Web Server Configuration\000"
   VALUE "FileVersion", "1.00\000\000"
   VALUE "InternalName", "Savant Configuration\000"
   VALUE "LegalCopyright", "Copyright ©1998 Acicula Technologies\000\000"
   VALUE "OriginalFilename", "SavCfg.exe\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US



PAGE1 DIALOG 0, 1, 253, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "HTTP"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 CONTROL "Server DNS Entry (leave blank to auto-detect)", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 40, 12, 150, 12
 CONTROL "", IDC_SERVER_DNS, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27, 28, 180, 12
 CONTROL "Port # To Serve From:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 58, 73, 10
 CONTROL "Index File Name:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 77, 56, 9
 CONTROL "Error Message Path:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 95, 67, 10
 CONTROL "", IDC_SERVER_PORT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 55, 20, 12
 CONTROL "", IDC_INDEX_FILE, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 74, 53, 12
 CONTROL "", IDC_ERROR_PATH, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 92, 90, 12
}
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US


PAGE2 DIALOG 0, 1, 253, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "CGI"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 CONTROL "Path For Temporary CGI Pipes:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 18, 100, 10
 CONTROL "", IDC_CGI_PIPE_PATH, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 110, 15, 133, 12
}

PAGE3 DIALOG 0, 1, 253, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Processes"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 CONTROL "Initial Number of Processes:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 9, 93, 9
 CONTROL "Maximum Number of Processes:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 28, 106, 9
 CONTROL "Number of Processes To Keep Free:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 49, 119, 9
 CONTROL "Process Compact Period:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 71, 83, 9
 CONTROL "Process Compact Laziness:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 92, 89, 9
 CONTROL "secs", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 167, 71, 23, 9
 CONTROL "", IDC_NUMBER_OF_PROCESSES, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 127, 6, 36, 12
 CONTROL "", IDC_MAX_PROCESSES, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 127, 28, 36, 12
 CONTROL "", IDC_FREE_PROCESSES, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 127, 49, 37, 12
 CONTROL "", IDC_COMPACT_PERIOD, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 127, 68, 37, 12
 CONTROL "", IDC_COMPACT_LAZINESS, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 127, 89, 37, 12
}

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US


PAGE5 DIALOG 0, 1, 253, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Paths"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 CONTROL "Paths", IDC_PATHS_BOX, "combobox", CBS_SIMPLE | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 67, 9, 110, 81
 CONTROL "Paths", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 43, 12, 23, 9
 CONTROL "New Path...", IDC_NEW_PATH, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 160, 50, 14
 CONTROL "Edit Path...", IDC_EDIT_PATH, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 160, 50, 14
 CONTROL "Delete Path", IDC_DELETE_PATH, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 193, 160, 50, 14
 CONTROL "Path Info", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 95, 243, 52
 CONTROL "Local:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 108, 23, 9
 CONTROL "Type:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 120, 20, 9
 CONTROL "Listing:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 132, 23, 9
 CONTROL "User/Group:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 110, 120, 43, 9
 CONTROL "Access Location:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 110, 132, 59, 9
 CONTROL "", IDC_PATH_LOCAL, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 37, 108, 196, 9
 CONTROL "", IDC_PATH_TYPE, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 37, 120, 63, 9
 CONTROL "", IDC_PATH_LISTING, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 37, 132, 63, 9
 CONTROL "", IDC_PATH_USER, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 167, 120, 67, 9
 CONTROL "", IDC_PATH_ACCESS, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 167, 132, 67, 9
}
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US



PAGE6 DIALOG 0, 1, 253, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Users"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 CONTROL "Users", IDC_USER_LIST, "combobox", CBS_SIMPLE | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 15, 97, 102
 CONTROL "Users:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 51, 18, 23, 7
 CONTROL "New User...", IDC_NEW_USER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 154, 50, 14
 CONTROL "Edit User...", IDC_EDIT_USER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 154, 50, 14
 CONTROL "Delete User", IDC_DELETE_USER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 154, 50, 14
}

PAGE7 DIALOG 0, 1, 253, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Groups"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 CONTROL "Groups", IDC_GROUPS_LIST, "combobox", CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 73, 18, 100, 98
 CONTROL "Groups", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 47, 18, 23, 10
 CONTROL "New Group...", IDC_NEW_GROUP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 151, 50, 14
 CONTROL "Edit Group...", IDC_EDIT_GROUP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 151, 50, 14
 CONTROL "Delete Group", IDC_DELETE_GROUP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 193, 151, 50, 14
}
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US


PAGE8 DIALOG 0, 1, 253, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "MIME"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
 CONTROL "MIME Extensions", IDC_MIME_EXTENSIONS, "combobox", CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 70, 12, 80, 111
 CONTROL "MIME Extensions", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 15, 60, 9
 CONTROL "MIME Description:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 173, 15, 63, 9
 CONTROL "", IDC_MIME_DESCRIPTION, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 160, 25, 87, 9
 CONTROL "New MIME...", IDC_NEW_MIME, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 157, 50, 14
 CONTROL "Edit MIME...", IDC_EDIT_MIME, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 157, 50, 14
 CONTROL "Delete MIME", IDC_DELETE_MIME, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 157, 50, 14
}
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US



PATHS DIALOG 0, 1, 201, 164
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New/Edit Paths"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH , SUBLANG_ENGLISH_US
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 142, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 127, 142, 50, 14
 CONTROL "Local Path:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 6, 40, 9
 CONTROL "HTTP Path:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 22, 40, 7
 CONTROL "", IDC_LOCAL_PATH, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 43, 3, 141, 12
 CONTROL "", IDC_HTTP_PATH, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 43, 18, 141, 12
 CONTROL "Allow Directory Listing", IDC_ALLOW_LIST, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 49, 86, 12
 CONTROL "Scripting", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 147, 37, 49, 37
 CONTROL "None", IDC_NO_SCRIPTING, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 49, 33, 10
 CONTROL "CGI", IDC_CGI_SCRIPTING, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 62, 30, 9
 CONTROL "Group or User:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 92, 49, 9
 CONTROL "Accessible Location:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 108, 67, 9
 CONTROL "", IDC_OWNER_LIST, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 89, 97, 71
 CONTROL "", IDC_LOCATION, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 111, 97, 49
 CONTROL "...", IDC_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 3, 12, 12
}
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US


USERS DIALOG 0, 0, 134, 65
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New/Edit User"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH , SUBLANG_ENGLISH_US
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 46, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 73, 46, 50, 14
 CONTROL "Name:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 9, 23, 9
 CONTROL "Password:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 25, 33, 9
 CONTROL "", IDC_NAME, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 6, 79, 12
 CONTROL "", IDC_PASSWORD, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 22, 79, 12
}
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US


GROUPS DIALOG 0, 0, 240, 151
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New/Edit Group"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH , SUBLANG_ENGLISH_US
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 132, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 132, 50, 14
 CONTROL "Members", IDC_MEMBERS, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 12, 67, 95
 CONTROL "Users", IDC_USERS, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 12, 67, 95
 CONTROL "Users", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 3, 23, 9
 CONTROL "Members", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 157, 3, 33, 7
 CONTROL "Add -->", IDC_ADD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 34, 50, 14
 CONTROL "<-- Remove", IDC_REMOVE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 93, 58, 50, 14
 CONTROL "Group Name:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 114, 43, 9
 CONTROL "", IDC_GROUP_NAME, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 111, 107, 12
}
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US


MIME DIALOG 0, 0, 172, 66
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New/Edit MIME"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH , SUBLANG_ENGLISH_US
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 46, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 46, 50, 14
 CONTROL "MIME Extension:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 6, 56, 9
 CONTROL "MIME Description:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 25, 63, 9
 CONTROL "", IDC_EXTENSION, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 3, 97, 12
 CONTROL "", IDC_DESCRIPTION, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 22, 97, 12
}


